<div class="container p-0 text-center">
    <div class="row">
        <div class="col-sm">
            <div class="card-header text-center">
                Current Weather
            </div>
            <div class="loading m-2" *ngIf="!weather">
                <div class="spinner-border" role="status"></div>
                <p>Loading...</p>
            </div>
            <img *ngIf="weather" [src]="weather.weather[0].icon" alt="">
            <div class="card border-0 m-2 bg-transparent" *ngIf="weather">
                <div>{{weather.weather[0].description | uppercase}}</div>
                <h1 class="card-title">{{weather.main.temp}}&deg; <small>F</small></h1>
                <p class="card-text">{{weather.dt * 1000 | date : 'MMM d, h:mm a'}} </p>
                <p>{{weather.name}}, {{weather.sys.country}}</p>
                <p><small>Feels Like : </small>{{weather.main.feels_like}} &deg; <small>F</small></p>
                <p><small>Wind : </small>{{weather.wind.speed}} m/h </p>
                <p><small>Humidity : </small>{{weather.main.humidity}} %</p>
                <div class="card-footer border-0">
                    <div class="float-start">
                        <span>
                            <p>Sunrise</p>
                            <img src="assets/sunrise.svg" alt="">
                            <p>{{weather.sys.sunrise * 1000 | date: 'h:mm a'}}</p>
                        </span>
                    </div>
                    <div class="float-end">
                        <span>
                            <p>Sunset</p>
                            <img src="assets/sunset.svg" alt="">
                            <p>{{weather.sys.sunset * 1000 | date: 'h:mm a'}}</p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>