<div class="forecast-container m-2 p-2">
    <div class="loading text-center" *ngIf="!weatherForecast">
        <div class="spinner-border m-auto" role="status"></div>
        <p class="mx-auto">Loading...</p>
    </div>
    <div class="row p-0">
        <div class="col-3 selected" *ngIf="weatherForecast && selectedWeather">
            <div class="card bg-transparent current">
                <div class="mx-auto">
                    <img class="card-img" [src]="iconUrl + selectedWeather.weather[0].icon + '@2x.png'" alt="">
                    <div>{{selectedWeather.weather[0].description | uppercase}}</div>
                    <h1 class="card-title">{{selectedWeather.main.temp}}&deg; <small>F</small></h1>
                    <p class="card-text">{{selectedWeather.dt * 1000 | date : 'MMM d, h:mm a'}} </p>
                    <p>{{weatherForecast.city.name}}, {{weatherForecast.city.country}}</p>
                    <p><small>Feels Like : </small>{{selectedWeather.main.feels_like}} &deg; <small>F</small></p>
                    <p><small>Wind : </small>{{selectedWeather.wind.speed}} m/h </p>
                    <p><small>Humidity : </small>{{selectedWeather.main.humidity}} %</p>
                </div>
            </div>
        </div>
        <div class="forecast col-9 table-responsive">
                <table class="table text-light forecast-table mb-0" *ngIf="forecast.length">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Date</th>
                            <th class="time text-center" scope="col" *ngFor="let item of forecast[1]">
                                {{item.dt * 1000 | date : 'shortTime'}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let list of forecast; index as i">
                            <td class="date text-center p-1" scope="row">
                                {{list[list.length - 1].dt * 1000 | date: 'MMM d'}}
                            </td>
                            <td class="text-center p-1" *ngFor="let item of forecast[i]"
                                [ngClass]="{active: selectedWeather == item, temp: item }"
                                (click)="item? selectWeather(item) : ''">
                                {{item.main? item.main.temp + '&deg;' : ''}} <br>
                                <img [src]="iconUrl + item.weather[0].icon + '.png'" alt="" *ngIf="item.weather">
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>