.temp:hover, .active {
    color: #fff;
    background-color: #F68D2E;
}
.loading{
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(50vw, 50vh);
}
.card{
    border: none;
}

.card.current{
    margin-top: 20%;
}

.forecast{
    height: calc(100vh - 100px);
    padding: 0px;
}

.forecast-table{
    // background: rgb(14,84,141,0.8);
    height: 100%;
    background-color: #e7e7e74b;
    thead{
        background-color: rgba(9, 61, 104, 0.8);
    }
    td{
        vertical-align: middle;
        border: 5px solid transparent;
    }
    td.date{
        background-color: #e7e7e74b;
    }
}